/*borrar los colores
#ffe575; amarillo claro
#d6b655; ocre oscuro
#005098; azul
#edcc65; ocre claro
#fff; blanco
#000; negro */
---------------------------

body {
	font-family: 'Oxygen', sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}

li {
	list-style: none;
}

#intro{
	background-image: url('../img/patternhobbyfm.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#radio{
	background-color: #edcc65;
}

#player-container{
	width: 200px;
	height: 200px;
	background-color: #edcc65;
}

.player{}

i{
  font-size: 20px;
  color: #fff;
}

.share-area{}
.facebook{}
.twitter{}

#programas{}

.quien{
	background-image: url('../img/patternhobbyfm.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#quienes{}
#redes{}

#contacto{
	background-color: #005098; 
}

.formulario {
	overflow: hidden;
	padding: 40px 20px;
	background-color: #fff;
}

button[type="submit"]{
	color: white;
	background-color: #d6b655;
}

.contact-form{
	width: 846px;
	padding: 15px;
	margin: 0 auto;
	position: relative;
}

.form-input {
	display: block;
	height: 24px;
	padding: 6px 10px;
	margin-bottom: 20px;
}

textarea.form-input{
    height: 200px;
    overflow: auto;
    width: 380px; 
    position: relative;
}

label {
    color: #444;
    font-size: 15px;
}

label span {
    color: #ff4141;
    font-size: 11px;
}

.form-btn {
    padding: 0 15px;
    height: 30px;
    font: bold 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
    cursor: pointer;
    border: 1px solid #0d3d6a;
    background-color: #2F57B7;
    clear: both;
    float: right;
}
.form-btn:hover {
    color: #8598C6;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
}

.form-btn{}
.form-message-success{}

.form-input, .error {
    display: block;
    height: 24px;
    padding: 6px 10px;
    margin-bottom: 20px;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-radius:         8px;
    background-color: #646464;
    width: 320px;
    background-color: #ededed;
    border: 5px solid #dbdbdb;
    color: #999;
    position: relative;
}

.error{
    background-color: #ff9197;
    border: 5px solid red;
}

#footer{
	background-color: #005098;
}